@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100vh;
}
.split{
    width: 50%;
    height: 100%;

    /* display: flex; */
    /* justify-content: center; */

    position: absolute;
}
.split.left{
    left: 0;

    background-image: url(../img/men1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.split.left:before{
    content: '';

    width: 100%;
    height: 100%;
    background-color: rgba(6, 130, 184, 0.3);

    position: absolute;
}
.split.right{
    right: 0;
   
    background-image: url(../img/girl1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.split.right:before{
    content: '';

    width: 100%;
    height: 100%;
    background-color: rgba(227, 61, 117, 0.3);

    position: absolute;
}
/* .split.left , .split.right , .split.left:before , .split.right:before */
.split.left , .split.right{
    transition: all 1s ease-in-out;
    overflow: hidden;
}
h1{
    color: #eee;
    font-size: 3.5rem;
    white-space: nowrap;

    position: absolute;
    top:10%;
    left:50%;

    transform: translateX(-50%);
}
.btn{
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 1rem 2rem;

    position: absolute;
    top: 45%;
    /* left: auto; */

    /* transform: translate(-50%); */
    overflow: hidden;
    transition: all 1s ease-in-out;
}
.btn-left{
    
    left: 20%;
}
.btn-right{
    left: 70%;
}

.hoverleft .left{
    width: 65%;
}
.hoverleft .right{
    width: 35%;
}

.hoverright .right{
    width: 65%;
}
.hoverright .left{
    width: 35%;
}


/* start ripple */

.dot{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;

    transform:translate(-50%,-50%) scale(0);

    animation-name: waveani;
    animation-duration: 0.8s;
}
.btn-left .dot{
    background-color: royalblue;
}
.btn-right .dot{
    background-color: pink;
}
@keyframes waveani {
    to{
        transform: translate(-50%,-50%) scale(5);
        opacity: 0;
    }
}


@media (max-width:800px) {
    .btn{
        padding: 0.5rem 1rem;
    }
    .hoverright .btn-left{
        left: 20px;
    }
    h1{
        font-size: 1.8rem;
    }
}
/* end ripple */